<article class="post">
    <div class="story-post">
        <div class="story-info">
            <div class="story-name">
                <a href="/post/{{id}}" class="links">{{title}}</a>
            </div>
            <div class="created-by">
                <p id="comment-subtitle">
                    Posted by <b>{{user.name}} </b>
                </p>
            </div>
        </div>
        <div class="content-section">
            <p>{{story_content}}</p>
        </div>
    </div>
</article>