<div class="card">
        <h2 class="card-header"> Edit Post Here</h2>
        <form class="card-body edit-form">
            <div class="form-group">
                
            </div>
        </form> 
</div>