{{!-- Placeholders to comment on a specific story --}}
{{> story-info post}}

{{#if logged_in}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
    <div>
        <button type="submit">Add Your Comment Here</button>
    </div>
</form>
{{/if}}
{{> comments post.comments}}

{{#if logged_in}}
<script src="/js/comments.js"></script>
{{/if}}
