/* Style for the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative; 
    background-color: pink;
}

/* Style for the header left section (containing the website name) */
.header-left {
    display: flex;
    align-items: center;
}

body{
    background-color: #ecf0f1;
}

.post{
    background-color: bisque;
    font-size: medium;
}
.content-section{
    background-color: pink;
}
/* Styling for Strory Title */
.story-name{
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    background-color: rgb(224, 127, 0);
}

.write-form{
    background-color: aqua;
}
/* Style for the hamburger menu icon */
#menu-toggle {
    display: inline-block;
    cursor: pointer;
    font-size: 20px; 
    padding: 7px; 
    margin-right: 10px; 

}

/* Style for the navigation menu */
#menu {
    display: none; 
    position: absolute;
    top: calc(100% + 10px); 
    left: 0;
    border: 1px solid #ccc; 
    padding: 10px;
    width: 200px;
    height: 800px;
    margin-top: -20px;
    overflow-y: auto; 
    box-sizing: border-box;
    background-color: #2c3e50;
}

.menu-item{
    display:flex;
    align-items:center;
    margin-bottom:10px;
    transition:background-color 0.3s ease;
}
.menu-item-icon{
    margin-right:10px;
    font-size:20px;
}

.menu-item:hover{
background-color: #34495e;
}
.show {
    display: block;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu li {
    margin: 0;
    padding: 0;
    
}

#menu a {
    display: block;
    padding: 10px; 
    text-decoration: none;
    color: black; 
    color:#ffffff;
}

#menu a:hover {
    background-color: #34495e; 
}

#logout {
    color: white; 
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background-color: #2c3e50;
    color: #ffffff;
    padding:20px;
}


@media only screen and (max-width:768px) {
    .footer{
        position:static;
        width:100%;
    }
}