{{!-- Main Page HTML Substitue --}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Potluck Party</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

<body>
    <!--Below is the name of Website with a H3 attribute -->
        
    <h3>STORY TELLER</h3>

      <main class="container container-fluid mt-5">{{{ body }}}</main>
    </div>

</body>